@import './base.css';

#app {
  padding: 0px 0px 0px 0px;
  font-weight: normal;
  overflow: hidden;
  font-size: 1rem;
}

.graph {
  display:block;
  width: auto;
  height: 100vh;
  /*
  border: 0px solid #000;
  border: 1px solid red;*/
  background-color: rgba(255, 255, 255, 0.0) !important;
  position: absolute;
  z-index: 1;
}

.madeWith
{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;

  color: white;
  text-shadow: 2px 2px 4px #000000;
}

a:active {
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;

  color: white;
  text-shadow: 2px 2px 4px #000000;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media screen and (min-width: 1920px) {
  h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
  }

  h5 {
    font-size: 1rem;
    color: black;
  }

  .v-field
  {
    font-size: 1rem;
  }

  .v-select label {
    font-size: 1.2rem;
  }
}