@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.graph {
  width: 100vh;
  height: 80vh;
  border: 0px solid #000;
}

.madeWith
{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;

  color: white;
  text-shadow: 2px 2px 4px #000000;
}

a:active {
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;

  color: white;
  text-shadow: 2px 2px 4px #000000;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 2024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
